/* Style sheet for JET projektet */
body {
  background-color: #FFF;
  color: #000000;
  padding: 1em 0;
  margin: 0;
}

header {
    background-color: #3DBBCB;
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header h1 {
  width: 228px;
  height: 60px;
  padding: 0;
  margin: 0;

 }

header nav {
  position: absolute;
  right: 0;
  top: 0;
  }

nav ul  {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 nav ul li {
   float: left;
   margin-left: 1px;
 }
nav ul li a {
  display: block;
  text-align: center;
  height: 60px;
  width: 130px;
  background-color: #1A1F3C;
  color: #3DBBCB;
  text-decoration: none;
  line-height: 60px;
  overflow: hidden;
}
nav ul li a:hover {
  background-color: #3DBBCB;
  color: #1A1F3C;
}

main {
  max-width: 800px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
section {
  /*clear: both; */
  border: solid 1px #1A1F3C;
  position: relative;
}
/* -------------------------------------------------*/#video {
  text-align: center;
}
/* -------------------------------------------------*/
/** Kod för att styla element i panelen för APPEN  **/
#appen {
  height: 500px;
}
#appMockup {
}



/* ---------------------------------------------------*/
/** Kod för att styla element i panelen för GALLERI  **/
#galleri {
  height: 450px;
}
#appBlurb {
  width: 270px;
  position: absolute;
  top: 2em;
  left: 230px;
}
#appImages{
  border: solid 1px black; /* Ta BORT När bild finnes */
  width: 280px;
  height: 90%;
  position: absolute;
  top: 2em;
  right: 5px;
}
#galleriFig {
  width: 380px;
  height: 380px;
  border: solid 1px black; /* Ta BORT När bild finnes */
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.Vblock1, .Vblock2, .Hblock1, .Hblock2 {
  position: absolute;
  width: 185px;
  height: 170px;
  overflow: hidden;
}
.Vblock1 {
  top: 2em;
  left: 400px;
}
 .Vblock2 {
   top: 14em;
   left: 400px;
 }
.Hblock1  {
  top: 2em;
  right: 1em;
}
.Hblock2 {
  top: 14em;
  right: 1em;
}

.panel_Text {
  padding-left: 1em;
  text-align: justify;
}

/* ----------------------------------------------------------*/
/** Kod för att styla element i panelen för SPECIFIKATIONER **/
#spec{
  height: 300px;
}
.spec_panel {
  float:left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.spec_Rubrik {
  /* grafik? */
}

footer {
  background-color: #3DBBCB;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #1A1F3C;
  padding-bottom: 1em;
}
footer h2 {
  position: absolute;
  top: auto;
  bottom: auto;
  font-size: 4em;
  margin-left: 1em;
  font-family: "Courier New", monospace;
}
footer #kontakt {
  text-align: center;
  border: none;
}
#kontakt h3 {
  text-align: center;
}
#kontakt a {
  padding: 1em;
  margin: 1em;
  color: #1A1F3C;
}
#kontakt a:hover {
  color: #3DBBCB;
  background-color: #1A1F3C;
}

section h3, section h2 {
  color: #1A1F3C;
  text-align: justify;
  font-variant: small-caps;
  margin: 0;
}
