/* Style sheet for JET projektet */
/* ------------------------------------------- */
/* ----- Allmäna regler för sidan -------------*/
body {
  background-color: #FFF;
  color: #000000;
  padding: 1em 0;
  margin: 0;
  font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}
section h3, section h2 {
  color: #1A1F3C;
  font-variant: small-caps;
  margin: 1em 0;
}
section h2 {
  margin-left: 2em;
}
section p {
  line-height: 1.5em;
}

/* Sätt bredd för alla element på ett och samma ställe */
header, main, footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------------*/
/** Kod för att styla element i HEADER inkl NAV  **/
header {
    background-color: #3DBBCB;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-top: 4px;
}
header h1 {
  width: 228px;
  height: 60px;
  padding: 0;
  margin: 0 0 0 5em;
 }

header nav { /* Fäst nav-baren i övre högra hörnet så den hamnar brevid logon */
  position: absolute;
  right: 0;
  top: 0;
  }

nav ul  { /* ta bort punkterna i listan */
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 nav ul li { /* Lägg alla listelement på en rad */
   float: left;
   margin-left: 1px;
 }
nav ul li a { /* Gör länkarna till klickbara lådor av rätt storlek, text i mitten */
  display: block;
  line-height: 60px; /* lägger texten mitt i lådans höjd */
  text-align: center;
  height: 60px;
  width: 200px;
  background-color: #1A1F3C;
  color: #3DBBCB;
  text-decoration: none;
  overflow: hidden;
  border: solid 1px #1A1F3C;
}
nav ul li a:hover { /* Spegla färgerna för att markera vilken länk muspekaren är över */
  background-color: #3DBBCB;
  color: #1A1F3C;
}

.sitenav { /* Inom-sidan navigering, ska ligga nere till höger  */
  position: fixed;
  bottom: 4em;
  right: 2em;
  font-size: 130%;
}
.sitenav a:link {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #1A1F3C;
}
.sitenav a:hover { /* märk ut länken med bakgrundsfärg när du hobrar */
  color: #1A1F3C;
  background-color: #BAAA9A;
}

main { /* Lägg allt innehåll mitt i webläsaren */
  background-color: #FFFFFF;


}
section { /* för att kunna flytta element inom sektioner med position:absolute  */
  position: relative;
  padding-top: 70px;
}

/* -------------------------------------------------*/
/** Kod för att styla element i panelen för VIDEO  **/
#video {
  text-align: center;
}

#reklamVid {
}

#video h2 {
  text-align: left;
  display: none; /* Göm rubriken, den behöver inte synas */
}
/* -------------------------------------------------*/
/** Kod för att styla element i panelen för APPEN  **/
#appen {
  height: 550px;
}
#appMockup {
position: absolute;
top: 8em;
left: 0;
}
#appMockup2 {
  position: absolute;
  top: 8em;
  right: 2em;
}

#appBlurb {
  width: 50%;
  position: absolute;
  top: 8em;
  left: 25%;
}


/* ---------------------------------------------------*/
/** Kod för att styla element i panelen för GALLERI  **/
#galleri {
  height: 500px;
}

#galleriFig {
  width: 65%;
  height: 380px;
  border: solid 1px black; /* Ta BORT När bild finnes */
  margin: 10px 0 0 0;
  padding: 0;
}
#galleriText {
  top: 8em;
  right: 2em;
  position: absolute;
  width: 30%;
}

.panel_Text {
  padding-left: 1em;
}

/* ----------------------------------------------------------*/
/** Kod för att styla element i panelen för SPECIFIKATIONER **/
#spec{
  height: 450px;
}
.spec_panel {
  float:left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.spec_panel p {
  margin: 0;
  padding: 0;
}
.spec_panel p:first-of-type { /* Gör plats mellan rubrik och början på specifikationerna */
  margin-top: 1em;
}

/* ----------------------------------------------------------*/
/** Kod för att styla element i footer **/

footer {
  background-color: #3DBBCB;
  color: #1A1F3C;
  padding-bottom: 1em;
  position: relative;

}
footer #logo {
  position: absolute;
  top: 70px;
  left: 100px;
}
footer #logo a {
  display: block;
  width: 159px;
  height: 150px;
}
footer #kontakt {
  text-align: center;
  border: none;
}
#kontakt h3 {
  margin-top: 0;
  padding-top: 0;
}
#kontakt p {
  font-size: 16px;
}
#kontakt a {
  padding: 1em;
  margin: 1em;
  color: #1A1F3C;
}
#kontakt a:hover {
  color: #3DBBCB;
  background-color: #1A1F3C;
}
